*

!src/**/**
!src

**/__pycache__

!assets/**/**
!assets
!docs/**/**
!docs
!styleGuide/**/**
!styleGuide

!.gitignore
!uv.lock
!pyproject.toml
!profile.sh
!setup.cfg
!preview.html
!lint.sh
!build.sh
!build.macos.sh
!build.bat
!The-Caverns.code-workspace
!TODO.md
!README.md
!.python-version
!.gitmodules
