.pixel-art {
	position: relative;
	top: 0;
	left: 0;
	height: 1px;
	width: 1px;
	box-shadow:

0px 0px rgba(39, 46, 64, 0),
1px 0px #3A4964,
2px 0px #546C91,
3px 0px #6D9CBE,
4px 0px #8FC8D7,
5px 0px #BDE2E1,
6px 0px #BDE2E1,
7px 0px #BDE2E1,
8px 0px #BDE2E1,
9px 0px #BDE2E1,
10px 0px #283B36,
11px 0px #385D3E,
12px 0px #58874A,
13px 0px #83AB5E,
14px 0px #B4CD78,
15px 0px #DADFAC,
0px 1px #DADFAC,
1px 1px #DADFAC,
2px 1px #DADFAC,
3px 1px #DADFAC,
4px 1px #553B40,
5px 1px #805A56,
6px 1px #B48972,
7px 1px #C6A48C,
8px 1px #DDC6AE,
9px 1px #EBE1CB,
10px 1px #EBE1CB,
11px 1px #EBE1CB,
12px 1px #EBE1CB,
13px 1px #EBE1CB,
14px 1px #3C2B32,
15px 1px #673F3F,
0px 2px #8D5D45,
1px 2px #BF864E,
2px 2px #DBAD65,
3px 2px #E7CC91,
4px 2px #E7CC91,
5px 2px #E7CC91,
6px 2px #E7CC91,
7px 2px #E7CC91,
8px 2px #2E222F,
9px 2px #482E3C,
10px 2px #793C4A,
11px 2px #A84E4E,
12px 2px #CF7360,
13px 2px #D89963,
14px 2px #D89963,
15px 2px #D89963,
0px 3px #D89963,
1px 3px #D89963,
2px 3px #2D2C41,
3px 3px #4B3959,
4px 3px #804C81,
5px 3px #A75A95,
6px 3px #C970A6,
7px 3px #E2A1BA,
8px 3px #E2A1BA,
9px 3px #E2A1BA,
10px 3px #E2A1BA,
11px 3px #E2A1BA,
12px 3px #16181E,
13px 3px #1D2029,
14px 3px #232930,
15px 3px #2F3A40,
0px 4px #49555A,
1px 4px #697D80,
2px 4px #93A4A2,
3px 4px #B9C2C1,
4px 4px #D7DCDB,
5px 4px #F2F4F2,
6px 4px rgba(39, 46, 64, 0),
7px 4px rgba(39, 46, 64, 0),
8px 4px rgba(39, 46, 64, 0),
9px 4px rgba(39, 46, 64, 0),
10px 4px rgba(39, 46, 64, 0),
11px 4px rgba(39, 46, 64, 0),
12px 4px rgba(39, 46, 64, 0),
13px 4px rgba(39, 46, 64, 0),
14px 4px rgba(39, 46, 64, 0),
15px 4px rgba(39, 46, 64, 0);
}
